mockScannerModule : false
localDirectoryConfiguration:
 createDirectoryForEachDay : true
 localPaths:
    - /mnt/pvr-shared/
emailConfiguration:
 smtpHost: somehost.com
 smtpPort: 25
 username: username
 password: password
 defaultSubject: Here is your scanned image from Yosane
 defaultRecipient: me@privacy.net
 defaultSender: me@privacy.net
 defaultSenderName: Yosane Scanner Emails
server:
  applicationConnectors:
    - type: http
      port: 8080
