
<div class="col-md-12 text-left form-group" style='margin-top:0.6em;'>
  <label for="naming" class="label label-info">Name</label>
  <input id="naming" type="text" size="25" placeholder="Enter a name for the collection"
    class="form-control" ng-model="is.naming"/>
    <button class="form-control btn btn-info" style='width:80%' ng-click="selectAll()">Select All</button>
   <a href="" class="text-danger form-inline pull-right" ng-click="doReset()">Reset</a>
 </div>
 
</div>
<div class="col-md-2"></div>
<div class="col-md-8">
 
 <ul class="no-left-padding">
  <li class="thumbnail" ng-repeat="image in images" ng-class="selectedClass($index)" ng-show="!image.deleted">
   <div class="well well-sm text-center">
    {{image.lastModified | date : 'EEE, h:mm:ss a'}}
    <div class="pull-right btn label label-danger" ng-click="image.deleted = true; image.selected = false;">
     <span class="glyphicon glyphicon-remove"></span>
    </div>
   </div> <a href=""> <img ng-click="toggleSelected($index)" ng-src="{{image._links.imageDownloadThumb[0].href}}" />
  </a>
   <div class="caption text-center"></div>
   <a href title="Rotate Counter Clockwise 90 deg">
    <span class="glyphicon glyphicon-repeat mirrored pull-left"></span>
    </a>
    <a href title="Rotate Clockwise 90 deg">
    <span class="glyphicon glyphicon-repeat pull-right"></span>
    </a>
    <button class="btn btn-warning" ng-click="previewImage(image._links.imageDownload[0].href)">Preview</button>
  </li>
 </ul>

 <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="btn-group position-from-right dropup" dropdown>
   <button type="button" class="btn dropdown-toggle" ng-disabled="(!imagesSelected())">
    <span class="glyphicon glyphicon-send"></span> <span>Send selected images ...</span> <span class="caret"></span> <span class="sr-only">Split
     button!</span>
   </button>
   <ul class="dropdown-menu textleft" role="menu">
    <li role="presentation" class="dropdown-header">
        <span class="pull-left glyphicon glyphicon-envelope" style='margin-right: 0.6em;'></span>
        <strong class="text-danger">EMAIL - IMAGES</strong>
    </li>
    <li ng-repeat="recipient in cs.recipients" role="presentation">
       <a href="#" ng-click="emailImages(recipient)" role="menuitem">
        To <span class="h5"><strong>{{recipient}}</strong></span>
       </a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation" class="dropdown-header">
        <span class="pull-left glyphicon glyphicon-envelope" style='margin-right: 0.6em;'></span>
        <strong class="text-danger">EMAIL - PDF</strong>
    </li>
    <li ng-repeat="recipient in cs.recipients">
       <a href="#" ng-click="emailPdf(recipient)">
        To <span class="h5"><strong>{{recipient}}</strong></span>
       </a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation" class="dropdown-header">
        <span class="pull-left glyphicon glyphicon-floppy-save" style='margin-right: 0.6em;'></span>
        <strong class="text-danger">COPY FILES</strong>
    </li>
    <li ng-repeat="pathconf in cs.localPaths">
       <a href="#" ng-click="localFileCopyImages(pathconf.path)" title="{{pathconf.path}}">
        <strong>{{pathconf.name}}</strong>
       </a>
    </li>
   </ul>
  </div>
 </nav>
</div>
