<div>
 <div class="col-1">
  <a href="" class="thumbnail"> <img class="media-object" ng-src="{{getScannedImage()}}" alt="...">
  </a>
 </div>

 <!--  THE SCAN BUTTON -->
 <div class="btn-group" dropdown>
  <button ng-disabled="!(getSelectedScannerName())" type="button" class="btn" ng-click="scan()"
   ng-class="getSelectedScannerName() ? 'btn-success' : 'btn-warning'">Scan</button>
  <button type="button" class="btn dropdown-toggle" ng-class="(getSelectedScannerName()) ? 'btn-success' : 'btn-warning'">
   <span class="caret"></span> <span class="sr-only">Split button!</span>
  </button>

  <ul class="dropdown-menu" role="menu">
   <li ng-repeat="scanner in getScanners()" ng-click="selectScanner(scanner.name)" class="textleft">
    <a href="#">
        <span ng-show="scanner.name">with</span> <strong>{{scanner.title}}</strong>
        <span class="pull-right glyphicon glyphicon-ok" style='margin-right: 0.4em;' 
            ng-show="scanner.name && getSelectedScannerName()==scanner.name"></span>
    </a>
   </li>
   <li class="divider"></li>
   <li style='width: 25em;'><a ng-click="refreshScannerList()" href="#"><em>Update Scanner List</em></a></li>
  </ul>
 </div>

 <button ng-disabled="(!hasScanned())" type="button" class="btn" ng-click="discardImage()">
  <span class="glyphicon glyphicon-remove"></span> <span>Discard</span>
 </button>


 <div class="btn-group position-from-right" dropdown>
  <button type="button" class="btn dropdown-toggle" ng-disabled="(!hasScanned())">
   <span class="glyphicon glyphicon-send"></span> <span>Send</span> <span class="caret"></span> <span class="sr-only">Split button!</span>
  </button>
  <ul class="dropdown-menu textleft" role="menu">
   <li  ng-click="emailImage()">
        <a href="#"> 
            <span class="pull-left glyphicon glyphicon-envelope" style='margin-right: 0.6em;'></span>
            by <strong>Email</strong> to ...            
        </a>
   </li>
   <li>   
        <a href="#">
           <span class="pull-left glyphicon glyphicon-folder-open" style='margin-right: 0.6em;'></span>
           to a <strong>Folder</strong> ...                 
        </a>
   </li>
  </ul>
 </div>
</div>